
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<APW.Models.RootDto>;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @foreach (var item in Model)
    {
        <p>
            @Html.DisplayFor(modelItem => item.name)
            <p>
                @Html.DisplayFor(modelItem => item.data)
             </p>
        </p>
    }
</div>
