@model IEnumerable<APW.Data.Models.Notification>



@{
    ViewData["Title"] = "Notifications in Cards";
}

<h1>Notifications</h1> 
<br/>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    @* <h5 class="card-title">@item.User.Email</h5> *@
                    <p class="card-text">@item.Message</p>
                    <p class="card-text"><small class="text-muted">Created at: @item.CreatedAt</small></p>
                    @if (item.IsRead == true)
                    {
                        
                        <p class="badge badge-primary">Read</p>
                    }
                    else
                    {
                        <p class="badge badge-primary">Unread</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
